<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workouts</title>
  <link rel="stylesheet" href="static/styles/basic_styles.css">
  <link rel="stylesheet" href="static/styles/workouts.css">
</head>
<body>
  <h1>Discover Workouts</h1>
  <div class="container">
    <div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>
<div class="workout_container">
      <h1>Only Dumbells Upper Body</h1>
      <h2>Hypertrophy</h2>
      <h3>Beginner</h3>
      <h3>4 Days/week</h3>
      <h3>30 min</h3>
      <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, doloremque enim quam neque, accusantium iste ipsam, blanditiis cumque repellat architecto alias! Quos consequuntur aspernatur aliquid minima dolor temporibus ipsa!</p>
    </div>

    
  </div>
</body>
</html>