.container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pv{
  color: #4ADE80;
}
.uf{
  color: #fcba03;
}
.package h1, li, ul, p{
  margin: 15px;
}
.package{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}
.package:hover{
  cursor:pointer;
  transform: scale(1.05); /* μεγαλώνει κατά 5% */
  box-shadow: 0px 5px 5px #4ADE80;
}
