/* progress.css */

.header {
  margin: 20px;
  text-align: center;
}

.header p {
  color: #4ADE80;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-container {
  width: 90%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

/* Left Column */
.data-section {
  background-color: #121212;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}


.goal-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.goal-item {
  width: 100px;
  background-color: #0e0e0e;
  text-align: center;
  border-radius: 15px;
  color: lightgray;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #4ADE80;
}

.goal-item h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.goal-item h2 {
  font-size: 16px;
  color: #A0A0A0;
}

.submission-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  color: white;
}

th {
  background-color: #4ADE80;
  color: black;
  height: 40px;
  text-align: center;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

.actions-section {
  margin-top: 40px;
  text-align: center;
}

.actions-section a {
  color: #4ADE80;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0;
}

/* Right Column */
.analytics-section {
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics-section h2 {
  margin: 1.5rem 0 1rem;
  color: #4ADE80;
}
.analytics-section canvas {
  width: 100%;
  height: 250px;
  margin-bottom: 2rem;
}
