/* submissions.css */

.container {
  display: block;
  width: 100%;
}

.submission-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4ADE80;
}

td {
  color: white;
}
